/* UserProfile.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 90%; /* Adjust the width as needed */
  max-width: 600px; /* Set a maximum width for better readability on larger screens */
  padding: 20px;
  text-align: center;
}

.left-column,
.right-column {
  width: 100%;
  text-align: center;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.button {
  display: block;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.edit-button {
  background-color: #3498db;
  color: #fff;
}

.edit-button:hover {
  background-color: #1e6bb8;
}

.requests-button {
  background-color: #27ae60;
  color: #fff;
}

.requests-button:hover {
  background-color: #218c54;
}

@media (min-width: 768px) {
  .profile-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .left-column,
  .right-column {
    width: 48%;
  }
}
/* UserProfile.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 90%; /* Adjust the width as needed */
  max-width: 600px; /* Set a maximum width for better readability on larger screens */
  padding: 20px;
  text-align: center;
}

.left-column,
.right-column {
  width: 100%;
  text-align: center;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.button {
  display: block;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.edit-button {
  background-color: #3498db;
  color: #fff;
}

.edit-button:hover {
  background-color: #1e6bb8;
}

.requests-button {
  background-color: #27ae60;
  color: #fff;
}

.requests-button:hover {
  background-color: #218c54;
}

@media (min-width: 768px) {
  .profile-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .left-column,
  .right-column {
    width: 48%;
  }
}
