.h{
    display: block;
    background-image: url('../Assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100% ;
    height: 500px;
    padding-top: 0%;
}
.hmada{
    font-family: 'Dancing Script', cursive;
    text-align: left;
    color: white;
    margin-left: 10%;
    font-size: 3rem;
}
