.h{
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    width:100% ;
    height: 500px;
    padding-top: 0%;
}
.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.categoryTitle {
  flex: 1;
}

.link {
  list-style: none;
  display: flex;
  gap: 20px;
}

.link li {
  font-size: 18px;
}

.link a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.link a:hover {
  background-color: #ddd;
}


.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px; /* Adjust the width of each card */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.card:hover {
  transform: scale(1.05); /* Scale up the card on hover */
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}
.card-content {
  padding: 10px;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 53px;
  margin-left: 6rem;
}



.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  margin-right: 10px; 
  transition: transform 0.3s ease;
}
.card img {
  width: 100%;
  height: 200px; /* Set the height as needed */
  object-fit: cover;
}

.card-content {
  padding: 26px;
  text-align: center;
}

.card:hover {
  transform: scale(1.05); /* Scale up the card on hover */
}

.hmada {
  font-family: 'Dancing Script', cursive;
  text-align: left;
  color: white;
  margin-left: 10%;
  font-size: 3rem;
}


