.bb{
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .bb form {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .bb label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .bb input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .bb button {
    background-color: #4285f4;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .bb button:hover {
    background-color: #357ae8;
  }