.Search-wrapper {
    display: flex;
    align-items: center;
  }
  
  .Search-btn {
    margin-top: 0;
    margin-right: 1vw;
    position: relative;
    display: block;
    top: 1vh;
    margin-left: 1vw;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    position: relative;
    top: 1vh;
    margin-top: 10px;
    width: 90%;
  }
  
  .form-control {
    /* Add any specific styles for the input if needed */
    padding: 8px;
    
    height: 5vh;
  }